{% load static %} 
<html> 
<head>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Compiled our CSS -->      
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <!-- To use google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <!--
    <nav>
        <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <li><a href="{% url 'home' %}">HOME</a></li>
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                </ul>
        </div>
    </nav>
    -->
    
    <div class="container"> 
        <div class="row">
            <div class="col s12 m6 left-align"><br>
                <img src="{% static 'icon/logo_icon.png' %}" height="35px"/>
            </div>
            <div class="col s12 m6 right-align"><br>
                <img src="{% static 'icon/car_icon.png' %}" height="38px"/>
                <img src="{% static 'icon/sneak_icon.png' %}" height="38px"/>
            </div>
        
            <div class="col s12 center-align">
                <!--<h2>Django blog</h2>-->
                <div class="card-panel teal grey darken-3"><a href="{% url 'home' %}" class="waves-effect red accent-2 btn">HOME</a> &nbsp;  <a href="{% url 'about' %}" class="waves-effect waves-light btn">ABOUT</a> &nbsp;  <a class="waves-effect waves-light btn">ev-hub</a></div>
            </div>
        </div>
    </div>

    <!--Extending Templates-->
    {% block content %} 
    {% endblock content %} 
</body>
</html>