body {
    font-family: 'Bai Jamjuree', sans-serif;
}

h2,h2 a {
     color: red; 
}

div.box {
    white-space: nowrap; 
    width: 404px;
    height: 300px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
}

.card-panel, .card-panel a {
    color: white;
}
