{% extends "base.html" %}
{% block content %}

<section class="bg-white p-8 rounded-lg shadow-md mb-2">
  <p class="mb-4 text-gray-700">
  <h1 class="text-3xl font-medium mb-4">About Us</h1>
  สวัสดี! ยินดีต้อนรับสู่ blog ของผม 🌟
  เนื้อหาใน blog นี้จะค่อนข้างกระจัดกระจาย อาจมีเรื่องการใช้ชีวิต เรื่องเดฟ เรื่องเทรด เรื่องเทคโนโลยี ฯลฯ 💻✨
  </p><br>
  <p class="mb-4 text-gray-700">
    ที่นี่ผมจะแชร์อะไรก็ได้ ที่ผมอยากแชร์ฮ่าๆ 🚀
  </p>
  <p class="text-gray-600">
    ขอบคุณที่เข้ามาอ่านครับ 🙏
    ถ้าชอบสามารถติดตามหรือแชร์ได้เลย!
  </p>
  <br>
  <div class="text-center mt-4 text-gray-700">
    เนื้อหาหลักๆผมแชร์ไว้อ่านเอง ถ้าผิดพลาดก็ขออภัยด้วยนะครับ
  </div>
</section>

{% endblock %}