{% extends "base.html" %}
{% block content %}

<section class="bg-white p-8 rounded-lg shadow-md mb-2">
  <p class="mb-4 text-gray-700">
  <h1 class="text-3xl font-medium mb-4">About this <span style="color:rgb(59, 143, 86)">Box</span> (Blog)</h1>
  สวัสดี! ผมชื่อคิวเป็นเดฟอ่อนๆคนนึง ก่อนหน้านี้ลองทำมาหลายอาชีพ ไม่รุ่งซักอย่าง ก็มีแต่เดฟนี้แหละที่พอถูๆไถๆไปได้ 😅
  เอิ่ม...บอกก่อนว่าเนื้อหาใน blog นี้จะค่อนข้างกระจัดกระจาย และไม่ได้จัดหมวดหมู่นะ ⚠️
  </p>
  <div align="center">
    <img
      src="https://previews.dropbox.com/p/thumb/AC7JpEVu9yGj_Bxc7rkEG4PifgBbeZoBjlQB27anpd9UH2rkb-CUKDF4S_DMXrGywk1UM14DYjj_ywUf8FQQbYEsJhUN9dW1S2GAUjc39S9j54s-4OBhyHLYwMBwx7sGewGYZFe-byw75VxdvYcNtDrgn9zcig7iW_nZNWkIGSf_XUrYBsnacY_ehsTJuBg-osADKpZbGda8GfRV2Xxr4g_hOwxw0PjnE0tl6d3KNkhuG6wcopbvV7EGrGE5LC6iXbekVoEpqAsE8_HWoOVL38cAnVBeXyXIxg7_QUP5mPIbakZJznV2RC953EG5erwazNowm1Asi_YCqp1mmRTP0obk/p.png?is_prewarmed=true"
      alt="" width="200" height="200">
  </div>
  <p class="mb-4 text-gray-700">
    ที่นี่เดิมทีผมจะทำ blog เกี่ยวกับรถยนต์ไฟฟ้า (EV) แต่ผมขี้เกียจ
    ดังนั้นที่นี่ผมจะแชร์เนื้อหาแค่ที่ผมอยากแชร์ ไม่จำกัดเรื่องอะไรก็ได้ 🙂🙃 เพื่อเอาไว้ทบทวนความรู้ตัวเอง
    บางอย่างก็อาจจะดูโง่ๆนะ (อันไหนที่ไม่มีสาระก็ข้ามๆไปนะ 555)

  </p>
  <p class="text-gray-600">
    ขอบคุณที่เข้ามาอ่าน .. ถ้าผิดพลาดก็ขออภัยด้วยนะครับบบ 🙏
  </p>
</section>

{% endblock %}